[submodule "kokkos"]
	path = kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "kokkos-kernels"]
	path = kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "perfstubs"]
	path = perfstubs
	url = https://github.com/UO-OACISS/perfstubs.git
[submodule "apex"]
	path = apex
	url = https://github.com/UO-OACISS/apex.git
