[submodule "kokkos"]
	path = kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "kokkos-kernels"]
	path = kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "perfstubs"]
	path = perfstubs
	url = https://github.com/UO-OACISS/perfstubs.git
[submodule "oneAPI-samples"]
	path = oneAPI-samples
	url = https://github.com/oneapi-src/oneAPI-samples.git
	branch = master
